@charset "UTF-8";

@font-face {
  /* Relacion de la fuente slkscr desde la ubicacion relativa /fonts/ */
  font-family:consolas; /*Fuente custom*/
  src: url("CONSOLAB.TTF"); /*Ubicacion Fuente*/
  font-weight: 400; /*Negrita de la letra*/
  font-style: normal;
}

body,html {
  height: 100%;
  background-color: #222831;
  font: 400 15px/1.8 "consolas", sans-serif;
  margin: 0;
}

.bg {
  background-image: url(images/background.jpg);
  position: relative;
  opacity: 0.65;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
  
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: bold;
}
h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 20px "consolas", sans-serif;
  color: #D65A31;
}
h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "consolas";
  color: #D65A31;
}
p{
  font-family: consolas;
}

#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.header {
  padding: 200px;
  background-image: url("../css/images/Roboticswallpaper.jpg");
  text-align: center;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_algorithms {
  padding: 200px;
  background-image: url("../css/images/algoritmos1.jpg");
  text-align: center;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_servos {
  padding: 200px;
  background-image: url("../css/images/servowallp.png");
  text-align: center;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_pai {
  padding: 200px;
  background-image: url("../css/images/paiwallp.jpg");
  text-align: center;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_tia {
  padding: 200px;
  background-image: url("../css/images/tiawallp.png");
  text-align: center;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.header h1 {
  font-size: 40px;
  color:#222831;
}
.header p {
  color:#222831;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  max-width: 60%;
  height:100%;
  margin: auto;
  background-color:#EDEDED;
}

.leftcolumn {
  float: left;
  width: 100%;
  font-family:consolas;
}

.fakeimg {
  background-color: #aaa;
  
}
.imgpost{
    max-width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.imgquiz{
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}


/* ------------------------------------------------------*/

.body_coursera{
  box-sizing:border-box;
  margin: 0;

}
.container_coursera {
  padding: 64px;
  box-sizing:border-box;
}

.row_coursera:after {
  content: "";
  box-sizing:border-box;
  display: table;
  clear: both
}

.column-66 {
  box-sizing:border-box;
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  box-sizing:border-box;
  width: 33.33333%;
  padding: 20px;
}

.large-font_coursera {
  font-size: 48px;
}

.xlarge-font_coursera {
  font-size: 64px
}

.button_coursera {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #04AA6D;
}

.img_coursera {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img_coursera:hover {
  opacity: 0.3;
}

.column-33_coursera:hover .middle {
  opacity: 1;
}
.text_coursera{
  background-color: #eeeeee;
  color: #222831;
  font-size: 16px;
  padding: 16px 32px;
}